@import "./variables.css";
@import "./component-x.css";

body {
  font-family: Arial;
  font-size: 2em;
  background: var(--bg-body);
}
div {
  background: lightblue;
  & .green-marker {
    background-color: green;
  }
}

/* unused classes from here... */
::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}
